body{
    background-color: aqua;
}
#firstImage{
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1, h2 {
    font-family: "Lobster", cursive;
    text-align: center;
}
table{
    border: 1px solid gray;border-collapse: collapse;/*to make borders collapse you have to use this css rule*/

}
td{
    border: 1px solid gray;
}